@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

:root {
  --primary-color: #1e3a8a;
  --primary-hover: #1d4ed8;
  --background-color: #ffffff;
  --light-gray: #00000025;
  --text-color: #374151;

  --success-color: #10b981;
  --success-hover: #059669;
  --error-color: #ef4444;
  --error-hover: #dc2626;
  --warning-color: #f59e0b;
  --warning-hover: #d97706;

  --muted-gray: #9ca3af;
  --label-gray: #4b5563;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-appear {
  animation: fade-in 0.2s ease-out;
}
